doctype html
html(lang='ru-RU')
	
	include _head

	body
		.wrapper
			.maincontent
		
				include _header
				include _navigation
				
				main.main
					.container
						
						include _sidebar

						.content
							.content__title Контентная часть
							.content__desc
								block content
		
		include _footer

		script(src='js/vendor.js?rev=@@hash')
		script(src='js/main.min.js?rev=@@hash')