aside.sidebar
	.sidebar__title Сайдбар
	nav.nav-acord
		ul.nav-acord__list
			li.nav-acord__item
				| Глава1
				ul.nav-acord__content-list
					li.nav-acord__content-item Пункт1
					li.nav-acord__content-item Пункт2
					li.nav-acord__content-item Пункт3
					li.nav-acord__content-item Пункт4
					li.nav-acord__content-item Пункт5
			li.nav-acord__item
				| Глава2
				ul.nav-acord__content-list
					li.nav-acord__content-item Пункт1
					li.nav-acord__content-item Пункт2
					li.nav-acord__content-item Пункт3
					li.nav-acord__content-item Пункт4
					li.nav-acord__content-item Пункт5