// Выравнивание блоков
@mixin inlineblock($valign: top) {
    display: inline-block;
    vertical-align: $valign;
}

// Работа с тенью в старых браузерах
@mixin box-shadow($param) {
	box-shadow: $param;
	-webkit-box-shadow: $param;
	-moz-box-shadow: $param;
}

// Работа с закругленными углами в старых браузерах
@mixin border-radius($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
}

// Работа с переходами в старых браузерах
@mixin transition($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

// Очищение потока и их группировка
%clearfix {
	&:after{
		content: "";
		display: block;
		clear: both;
	}
}

// Работа со шрифтами
@mixin roboto($style: regular) {

    @if $style == regular {
        font-family: "robotoregular";
    }

     @if $style == bold {
        font-family: "robotobold";
    }

     @if $style == italic {
        font-family: "robotoitalic";
    }

     @if $style == medium {
        font-family: "robotomedium";
    }
}

// Преобразование px в rem 
@function rem($px) {
    @return $px / 16px + 0rem;
}

// Cоздание примесей медиазапросов
@mixin desktop {
    @media screen and (max-width: $desktop) {
        @content;
    }
}

@mixin laptop {
    @media screen and (max-width: $laptop) {
        @content;
    }
}

@mixin tablets {
    @media screen and (max-width: $tablets) {
        @content;
    }
}

@mixin phones {
    @media screen and (max-width: $phones) {
        @content;
    }
}

@mixin phones_2x {
    @media screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-resolution: 144dpi) {
        @content;
    }
}