// Переменные для adjustment
$footer-height: 50px;
$container-width: 940px;
$padding-footer: 0px;

// Корпоративные цвета и шрифты сайта
$primary-dark: #000000;
$primary-light: #ffffff;
$secondary-dark: #111111;
$tertiary-dark: #222222;

$headline-font: 'Varela Round', Helvetica, Arial, sans-serif;
$body-font: 'Palatino Linotype', Baskerville, serif;

// функциональные переменные
$page-background-color: $primary-light;
$headline-color: $primary-dark;
$footer-color: $tertiary-dark;
$text-color: $primary-dark;
$border-light: $secondary-light;
$border-dark: $primary-dark;

// Точки останова
$desktop: 1200px;
$laptop: 992px;
$tablets: 768px;
$phones: 480px;